[Unit]
Description=FluidSynth Daemon %I
Documentation=man:fluidsynth(1)
After=sound.target
StopWhenUnneeded=true

[Service]
#Type=notify
# this change from notify worked !
Type=exec
# allow 5 mins to load the huge samples NB TimeoutStartSec not recognised, hmm maybe lack of 's'?
TimeoutSec=300s
NotifyAccess=main
EnvironmentFile=/etc/default/fluidsynth
EnvironmentFile=-%h/.config/fluidsynth
ExecStartPre=/usr/bin/sleep 1s
ExecStart=/usr/bin/fluidsynth -is -o audio.pulseaudio.device="alsa_output.SDP-3.analog-stereo" $OTHER_OPTS $SOUND_FONT

[Install]
WantedBy=multi-user.target

